<!DOCTYPE html>
<html>
<head>
    <title>Spring webflux pagination</title>
    <link data-th-href="@{/css/task.css}" rel="stylesheet">
</head>
<body>
<div id="container">
    <h2>Spring Webflux Pagination Example</h2>
    <hr/>
    <table id="alltasks">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="task: ${messages}">
            <td>[[${task.data}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>